page-home {

  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      background-color: YELLOW;
    }

    ion-col{
      padding: 25px;
    }


    #mombutton{
      background-image: url(../assets/imgs/mom.png);
      background-size: cover;
      border: 2px solid black;
      padding: 25px;
      background-repeat: no-repeat;
      align-items: flex-start;
    }

    #babybutton{
      background-image: url(../assets/imgs/baby.png);
      background-size: cover;
      border: 2px solid black;
      padding: 25px;
      background-repeat: no-repeat;
      align-items: flex-end;
    }

  }
}
